extends ../../layout/adminBase

block append script 
    script(src="/JS/bundle/admin/bundleAdmin.js")   

block block
    #right.col-9
        .d-flex.bd-highlight.mt-3
            .p-2.flex-grow-1.bd-highlight
                h6.fs-5.text-body.fw-bold.text-uppercase Overview
            .p-2.bd-highlight
                i.fa-solid.fa-bell.fs-5.text-body
            .p-2.bd-highlight
                h6.fs-5.text-body.fw-bold |
            .p-2.bd-highlight
                h6.fs-5.text-body.fw-bold= user.name
            .p-2.bd-highlight
                img.login-user-image(src=user.profileImage alt='user image')
        hr
        .p-3
            .p-5.pt-2.nav-tabs-section
                ul#pills-tab.nav.nav-pills.nav-justified.mb-3(role='tablist')
               
                    li.nav-item.border.rounded(role='presentation')
                        button#pills-profile-tab.nav-link.inside-nav.fw-bold.active(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
                            | Order List
                    li.nav-item.border.rounded(role='presentation')
                        button#pills-contact-tab.nav-link.inside-nav.fw-bold(data-bs-toggle='pill' data-bs-target='#pills-contact' type='button' role='tab' aria-controls='pills-contact' aria-selected='false')
                            | History
                #pills-tabContent.tab-content
                  
                    #pills-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-profile-tab')
                        h6.col-6.fw-bold.main-color.mt-5.text-head
                            | Order List
                        hr.m-0
                        .mt-3.table-responsive
                            table.table.table-bordered
                                thead
                                    tr.text-nowrap
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Name
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Phone Number
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Address
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Product Name

                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Order Date
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Status
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | View
                                tbody#update_user_diffable_product_status(data-id=user.id)
                                    -const status = ['placed', 'accepted','rejected', 'shipped', 'outofdelivery', 'delivered','canceled']
                                    each doc,inds in orders.active
                                        tr.text-nowrap
                                            th(scope='row')= doc.addressDetails.name
                                            td= doc.addressDetails.phone1
                                            td #{doc.addressDetails.address},#{doc.addressDetails.pincode}
                                            td= doc.productData.productName
                                            td= new Date(doc.createdAt).toLocaleString()
                                            td  
                                                select.form-select.border.update_status(aria-label='Default select example' id=`update_hearingaid_status-${inds}` data-index=inds data-id=doc.hiwdaposID style="width:auto;")
                                                    each docs in status
                                                        if docs === doc.orderStatus
                                                            option(value=docs selected)= docs
                                                        else 
                                                            option(value=docs)= docs

                                            td
                                                a.pointer.cursor-pointer(data-bs-toggle='modal' data-bs-target=`#orderActive-${inds}`) View
                                                // Modal
                                                .modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true' id=`orderActive-${inds}`)
                                                    .modal-dialog.modal-dialog-scrollable.modal-lg
                                                        .modal-content
                                                            .modal-header
                                                                h5#staticBackdropLabel.modal-title
                                                                    | Product Details
                                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                            .modal-body.table-responsive
                                                                table.table.table-bordered
                                                                    thead
                                                                        tr
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                | Order Details
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                //- | Order ID - 09869766875
                                                                    tbody
                                                                        //- tr
                                                                        //-     th(scope='row') Product Id
                                                                        //-     td 8798789678
                                                                        tr
                                                                            th(scope='row') Product Name
                                                                            td= doc.productData.productName
                                                                        tr
                                                                            th(scope='row') Matrial Type
                                                                            td= doc.productData.meterialType
                                                                        tr
                                                                            th(scope='row') Product Type
                                                                            td= doc.productData.productType
                                                                        if doc.productData.productType !== "wheelchair"
                                                                            tr
                                                                                th(scope='row') Product Type
                                                                                td= doc.productData.meterialType
                                                                        tr
                                                                            th(scope='row') Hearing aid Image
                                                                            td
                                                                                img.thumbnail(src=doc.productData.bannerImage alt='Product Image')
                                                                        tr
                                                                            th(scope='row') Hearingaid Image Gallery
                                                                            td
                                                                                each galImg in doc.productData.imageGallery
                                                                                    img.p-2(src=galImg,style=`width:75px`, alt="", srcset="")
                                                                        tr
                                                                            th(scope='row') Order Status
                                                                            td= doc.orderStatus
                                                                        tr
                                                                            th(scope='row') Address
                                                                            td #{doc.addressDetails.address}, #{doc.addressDetails.city}, #{doc.addressDetails.state}, #{doc.addressDetails.pincode}
                                                                        tr
                                                                            th(scope='row') Phone Number 1
                                                                            td= doc.addressDetails.phone1
                                                                        tr
                                                                            th(scope='row') Phone Number 2
                                                                            td= doc.addressDetails.phone2
                                                                        tr
                                                                            th(scope='row') Quanity
                                                                            td= doc.productData.quantity
                                                                        tr
                                                                            th(scope='row') Price
                                                                            td= doc.productData.price
                                                                        tr
                                                                            th(scope='row') Discount Price
                                                                            td= doc.productData.discountPrice

                                                                        tr
                                                                            th.text-danger(scope='row')
                                                                                | Payment Mode
                                                                            td.text-danger Online
                                                                        tr
                                                                            th(scope='row') Ordered Date
                                                                            td=doc.createdAt ? new Date(doc.createdAt).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Accepted Date
                                                                            td=doc.acceptedDate ? new Date(doc.acceptedDate).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Shipped Date
                                                                            td=doc.shippedDate ? new Date(doc.shippedDate).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Out of Delivery Date Date
                                                                            td=doc.outOfDeliveryDate ? new Date(doc.outOfDeliveryDate).toLocaleString():"-"
                                                            .modal-footer
                                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                                                    | Cancel
                    #pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab')
                        h6.col-6.fw-bold.main-color.mt-5.text-head History
                        hr.m-0
                        .mt-3.table-responsive
                            table.table.table-bordered
                                thead
                                    tr.text-nowrap
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Name
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Phone Number
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Address
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Product Name

                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Order Date
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Status
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | View
                                tbody

                                    each doc,inds in orders.history
                                        tr.text-nowrap
                                            th(scope='row')= doc.addressDetails.name
                                            td= doc.addressDetails.phone1
                                            td #{doc.addressDetails.address},#{doc.addressDetails.pincode}
                                            td= doc.productData.productName
                                            td= new Date(doc.createdAt).toLocaleString()
                                            td=doc.orderStatus

                                            td
                                                a.pointer.cursor-pointer(data-bs-toggle='modal' data-bs-target=`#orderActive-${inds}`) View
                                                // Modal
                                                .modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true' id=`orderActive-${inds}`)
                                                    .modal-dialog.modal-dialog-scrollable.modal-lg
                                                        .modal-content
                                                            .modal-header
                                                                h5#staticBackdropLabel.modal-title
                                                                    | Product Details
                                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                            .modal-body.table-responsive
                                                                table.table.table-bordered
                                                                    thead
                                                                        tr
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                | Order Details
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                //- | Order ID - 09869766875
                                                                    tbody
                                                                        //- tr
                                                                        //-     th(scope='row') Product Id
                                                                        //-     td 8798789678
                                                                        tr
                                                                            th(scope='row') Product Name
                                                                            td= doc.productData.productName
                                                                        tr
                                                                            th(scope='row') Matrial Type
                                                                            td= doc.productData.meterialType
                                                                        tr
                                                                            th(scope='row') Product Type
                                                                            td= doc.productData.productType
                                                                        if doc.productData.productType !== "wheelchair"
                                                                            tr
                                                                                th(scope='row') Product Type
                                                                                td= doc.productData.meterialType
                                                                        tr
                                                                            th(scope='row') Hearing aid Image
                                                                            td
                                                                                img.thumbnail(src=doc.productData.bannerImage alt='Product Image')
                                                                        tr
                                                                            th(scope='row') Hearingaid Image Gallery
                                                                            td
                                                                                each galImg in doc.productData.imageGallery
                                                                                    img.p-2(src=galImg,style=`width:75px`, alt="", srcset="")
                                                                        tr
                                                                            th(scope='row') Order Status
                                                                            td= doc.orderStatus
                                                                        tr
                                                                            th(scope='row') Address
                                                                            td #{doc.addressDetails.address}, #{doc.addressDetails.city}, #{doc.addressDetails.state}, #{doc.addressDetails.pincode}
                                                                        tr
                                                                            th(scope='row') Phone Number 1
                                                                            td= doc.addressDetails.phone1
                                                                        tr
                                                                            th(scope='row') Phone Number 2
                                                                            td= doc.addressDetails.phone2
                                                                        tr
                                                                            th(scope='row') Quanity
                                                                            td= doc.productData.quantity
                                                                        tr
                                                                            th(scope='row') Price
                                                                            td= doc.productData.price
                                                                        tr
                                                                            th(scope='row') Discount Price
                                                                            td= doc.productData.discountPrice

                                                                        tr
                                                                            th.text-danger(scope='row')
                                                                                | Payment Mode
                                                                            td.text-danger Online
                                                                        tr
                                                                            th(scope='row') Ordered Date
                                                                            td=doc.createdAt ? new Date(doc.createdAt).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Accepted Date
                                                                            td=doc.acceptedDate ? new Date(doc.acceptedDate).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Shipped Date
                                                                            td=doc.shippedDate ? new Date(doc.shippedDate).toLocaleString():"-"
                                                                        tr
                                                                            th(scope='row') Out of Delivery Date Date
                                                                            td=doc.outOfDeliveryDate ? new Date(doc.outOfDeliveryDate).toLocaleString():"-"
                                                            .modal-footer
                                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                                                    | Cancel